@import "../../../../../styles/assets";

.wrapper {
  min-height: 100vh;
  position: relative;
  background: url('../../../../../assets/images/login-bg.jpg') center no-repeat;
  background-size: cover;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0 0 7px #999;

  &__title {
    margin-bottom: 40px;
    text-align: center;
  }
}

.form-control {
  position: relative;
  margin-bottom: 20px;

  &__input {
    height: 44px;
    width: 100%;
    display: block;
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 10px;
    border-color: blue;
  }
}
