<div class="wrapper">
  <nav class="nav">
    Hello {{user}}, Enjoy the game!
  </nav>

  <div class="container">
      <div class="no-set" *ngIf="!wordsSet">
        <h1 class="no-set__header">Pick random word set to start the game</h1>
        <button (click)="getRandomSet()" class="button button--full">Get words</button>
      </div>

      <div class="board" *ngIf="wordsSet">
        <h2 class="board__title">{{wordsSet.question}}</h2>

        <div class="board__content">
          <app-element
            (clicked)="clickedWord($event)"
            [word]="word"
            [correct]="wordIsCorrect(word)"
            *ngFor="let word of wordsSet.all_words"></app-element>
        </div>

        <button (click)="checkAnswers()" class="button" *ngIf="!enableFinishGame">Check answers</button>
        <button (click)="finishGame()" class="button" *ngIf="enableFinishGame">Finish game</button>
      </div>
  </div>
</div>

